{% extends "admin/cabecera.html" %}
{% block content %}
<div id="Listado Barcos">
    <p>
        {% if barco.nombre != ERROR %}
    <h2>Datos del barco</h2>
    <table>
        <th>Nombre</th>
        <th>Eslora en metros</th>
        <th>Tipo de embarcacion</th>
        <th>Pasajeros maximos</th>
        <th>Eliminar</th>
        <th>Editar</th>
        <tr>
            <td>
                {{barco.nombre.capitalize()}}
            </td>
            <td style="text-align: center">
                {{barco.eslora}}
            </td>
            <td>
                {{barco.tipo_embarcacion.capitalize()}}
            </td>
            <td style="text-align: center">
                {{barco.num_pasajeros}}
            </td>
            <td>
                <a href="/admin/eliminarBarco?id_barco={{barco.key.urlsafe()}}">
                    <button type="submit" style="width:100%;">Eliminar</button>
                </a>
            </td>
            <td>
                <a href="/admin/editarBarco?id_barco={{barco.key.urlsafe()}}">
                    <button type="submit" style="width:100%;">Editar</button>
                </a>
            </td>
        </tr>
    </table>
    <div id="comentarios-container">
        <p></p>
        <p></p>
        <p></p>
        {% if lista_comentarios.count() > 0 %}
        <h3 style="color: white"> Listado Comentarios </h3>
        <table>
            <th>Nombre Usuario</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>Puntuacion</th>
            {% for comentario in lista_comentarios %}
            <tr>
                <td>{{comentario.user_name}}</td>
                <td>{{comentario.contenido}}</td>
                <td>{{comentario.fecha}}</td>
                <td>{{comentario.puntuacion}}</td>
                <td>
                    <a href="/admin/eliminarComentarioBarco?id_comentario={{comentario.key.urlsafe()}}">
                        <button type="submit" style="width:100%;">Eliminar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% else %}
    <h1>ERROR INESPERADO, REFRESQUE LA PAGINA O TRATE DE VOLVER A INICIO</h1>
    <h2>Disculpe las molestias</h2>
    {% endif %}
    </p>
</div>
{% endblock %}